.hamburger{
height:em(15);
display: flex;
flex-direction: column;
justify-content: space-between;
cursor: pointer;

  &__line{
  width: em(24);
  height:em(2);
  background: #ffffff;
  display: block;
  }
}
